@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Section</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Section ID</th>
            <th scope="col">Section Name</th>
            <th scope="col">Section Adviser</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Otto</td>
            <td>Mark</td>
        </tr>
    </tbody>
</table> 