@model CourseViewModel

<h2 class="display-4" style="text-align: center">Edit Course Information</h2>

<div id="studentFormContainer" class="container my-3">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="rounded-3 card">
        <div class="card-header text-center">
          <h4 class="my-2">Edit Course</h4>
        </div>

        <div class="card-body">
          <form method="post" action="/Course/UpdateCourseInfo">
            <div class="mb-3">
              <input type="hidden" name="CourseID" value="@Model.CourseID" />
            </div>
            <div class="mb-3">
              <label>Course Name:</label>
              <input class="form-control" value="@Model.CourseName" type="text" name="CourseName" required />
            </div>
            <div class="mb-3">
              <label>Course Duration:</label>
              <input class="form-control" value="@Model.CourseDuration" type="number" name="CourseDuration" required />
            </div>
            <div class="mb-3">
              <label>Course Department:</label>
              <input class="form-control" value="@Model.CourseDepartment" type="text" name="CourseDepartment" required />
            </div>
            <button type="submit" class="btn btn-success my-3 w-100">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>